body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.menu {
  display: inline;
  border-right: 1px solid #bbb;
  color: white;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
}

li.menu:hover {
  color: rgb(255, 200, 0);
}

.li-active.menu {
  font-weight: bold;
  color: rgb(255, 150, 0);
}

li#coming-soon {
  color: #959595;
  cursor: not-allowed;
}

li:last-child {
  border-right: none;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-bottom: 30px;
}

.input-container.resin-input-container {
  margin-bottom: 0;
}

input.primogems-input,
.resin-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 15px;
  border: 1px solid #444;
  text-align: center;
}
.hl-wait-time-daily,
.hl-wait-time-welkin {
  color: #9f7aea;
  font-weight: bold;
  font-size: 20px;
}
a,
a:visited {
  color: #000000;
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  /* border-bottom: 1px solid #ccc; */
}
.column {
  display: flex;
  align-items: center;
  gap: 10px;
}

#primogems-input {
  margin-top: 10px;
}

.gold-rounded {
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  border: 30px solid #f6c97e;
}
.blue-rounded {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  border: 30px solid #7e94f6;
}

.highlight {
  color: #ffb535;
  /* color: #f6c97e; */
  font-weight: bold;
}

/*---------------------
 |                   |
 |      Output       |
 |                   |
 -------------------*/
.time-unit {
  font-size: 10px;
}
.time-unit.light {
  font-size: 10px;
  color: #4c4c4c !important;
}
.time-unit.dark {
  font-size: 10px;
  color: #9d9d9d !important;
}
.total-time {
  display: block;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.output {
  width: 80%;
  /* margin-top: 10%; */
  font-size: 18px;
  color: #000000;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.output.light {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.output.dark {
  color: #ffffff;
  background-color: #2b2b2b;
  border: 2px solid #444444;
  box-shadow: 0 4px 8px rgba(152, 152, 152, 0.4);
}
#current-time {
  font-size: 12px;
  margin-bottom: 10px;
  color: #474747;
}

/*---------------------
 |                   |
 |   Description     |
 |                   |
 -------------------*/
.resin-description {
  margin-top: 15px;
  font-size: 12px;
}

/*---------------------
 |                   |
 |    Button Theme   |
 |                   |
 -------------------*/
.theme-button {
  position: fixed;
  top: 7%;
  right: 1%;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
  background-color: #373737;
}
.theme-button.light {
  background-color: #fff;
}

/*---------------------
 |                   |
 |       Button      |
 |                   |
 -------------------*/
#primogems-button #pmg-add-hundreds,
#pmg-add-thousands, #rs-add-hundreds, #rs-add-ten {
  background-color: white;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #000;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}
#primogems-button:hover #pmg-add-hundreds:hover,
#pmg-add-thousands:hover, #rs-add-hundreds:hover, #rs-add-ten:hover {
  color: #2196f3;
  border: 2px solid #2196f3;
}
#primogems-button #pmg-sub-hundreds,
#pmg-sub-thousands, #rs-sub-hundreds, #rs-sub-ten {
  color: #000;
  background-color: white;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}
#primogems-button:hover #pmg-sub-hundreds:hover,
#pmg-sub-thousands:hover, #rs-sub-hundreds:hover, #rs-sub-ten:hover {
  color: #ec5555;
  border: 2px solid #ec5555;
}

.btn-clear.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*---------------------
 |                   |
 |      Navbar       |
 |                   |
 -------------------*/
.navbar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 100%;
}

/*---------------------
 |                   |
 |       Modal       |
 |                   |
 -------------------*/
.modal {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0 10% 0;
  width: 50rem;
  height: 50rem;
}
.modal.resin-content {
  margin: 5% 0 10% 0;
  height: 60rem;
  padding: 1.5rem;
}

.modal h1 {
  margin-bottom: 1rem;
}

.modal p {
  margin-bottom: 2rem;
}

.modal button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button.btn-calculator {
  background-color: white;
  color: #00c60d;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #00c60d;
  cursor: pointer;
}
.modal button.btn-clear {
  background-color: white;
  color: #e20101;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #e20101;
  cursor: pointer;
}

.modal button.btn-calculator:hover, .modal button.btn-clear:hover {
  background-color: #e8e8e8;
}

.modal button:hover {
  background-color: #555;
}

/*---------------------
 |                   |
 |      Linked       |
 |                   |
 -------------------*/
.link-paid {
  color: #ffc800 !important;
  font-weight: bold;
  text-decoration: none;
}
.link-paid:hover {
  color: #1e49a5 !important;
  font-weight: bold;
}

/*---------------------
 |                   |
 |      Footer       |
 |                   |
 -------------------*/
footer {
  margin-top: auto;
  /* position: fixed; */
  /* bottom: 0; */
  padding: 5px;
  text-align: center;
}
footer.light {
  color: black;
}
footer.dark {
  color: white;
}
